{{ define "quadrant.html" }}
<div class="layout layout--col gap">

  <div class="grid grid--cols-3 lg:grid--cols-2 gap">
    {{ range .Prayers }}
    <div class="item portrait:col--span-2{{ if .IsNext }} bg--black rounded label--inverted{{ end }} p--1">
      <div class="meta"></div>
      <div class="content">
        <span class="value value--small lg:value--large lg:portrait:value--base value--tnums">{{ .Time }}</span>
        <span class="label label--xsmall lg:label--small{{ if .IsNext }} label--inverted{{ end }}">{{ .Name }}</span>
      </div>
    </div>
    {{ end }}
  </div>

</div>

<div class="title_bar">
  <img class="image" src="https://usetrmnl.com/images/plugins/trmnl--render.svg">
  <span class="title">{{ .MosqueName }}</span>
  <span class="instance">Jumua : {{ .Jumua }}{{ if .Jumua2 }} · {{ .Jumua2 }}{{ end }}{{ if .Jumua3 }} · {{ .Jumua3 }}{{ end }}</span>
</div>
{{ end }}
